<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <style>
        .button.is-rounded {
            box-shadow: 0 0.5rem 1rem 0 rgba(112, 109, 109, 0.2) !important;
            transition-duration: 200ms !important;
        }

        .button.is-rounded:hover {
            transform: translateY(-.50rem) !important;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('quotes') }}">
            <span style="font-size: 1.5em">Quote Machine</span>
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('quotes_new') }}">
                Ajouter une citation
            </a>
            {% set random = app.session.get('random') %}
            {% if random == 'true' %}
                <a class="navbar-item" href="{{ path('randomQuote') }}">
                    Citation aléatoire
                </a>
            {% endif %}
        </div>

    </div>
</nav>
{% set _block = block('hero') %}
{% if _block is not empty %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% block hero %}{% endblock %}
                </h1>
            </div>
        </div>
    </section>
{% endif %}

<br>

{% block body %}{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });</script>
{% block javascripts %}{% endblock %}
</body>
</html>
