{% extends "base.html.twig" %}

{% block title%}Editer la Citation{% endblock %}
{% block hero %}Editer une citation{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-three-fifths">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="column">
        </div>
    </div>

{% endblock %}