{% extends 'base.html.twig' %}

{% block title%}Editer la catégorie{% endblock %}
{% block hero %}Editer une catégorie{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-three-fifths">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="button is-success" name="submit" type="submit">Editer</button>
            {{ form_end(form) }}
        </div>
        <div class="column">
        </div>
    </div>

{% endblock %}
